.runtime/
.venv/
.venv
.venv-ticket/
.venv-douyin/
.bin/
.idea/
.worktrees/
__pycache__/
.pytest_cache/
applications/ticket/activate-code
applications/ticket/activate-code.decoded.patch
applications/douyin/datas/
applications/ticket/.runtime/
applications/ticket/.runtime_web/
applications/**/server.lock
applications/**/.env
applications/**/.DS_Store
applications/**/.bifrost/
applications/**/.runtime/
